* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 236, 174);
  font-family: serif;
  font-size: 20px;
  padding: 75px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: purple;
}

#your-name {
  color: salmon;
  border: 5px solid rgb(34, 32, 32);
  width: 480px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

img {
  width: 500px;
}

#your-name h2 {
  color: olivedrab;
}
